.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 10px 0;
  padding: 10px 20px 10px 0;
  &_profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &_login {
    padding: 10px 20px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
