.button {
  padding: 10px 30px;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.primary {
  background-color: #000;
  color: #fff;
}

.secondary {
  background-color: #e88513;
  color: #fff;
}
