.listguru {
  width: 100%;
  margin-top: 70px;
  &_search {
    &_input {
      border-radius: 10px;
      padding: 10px 10px;
      width: 255px;
      margin: 10px 0;
      font-weight: 600;
      font-size: 1vw;
    }
  }
  &_table {
    border-collapse: collapse;
    background: white;
    border-radius: 1vw;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto;
    * {
      position: relative;
    }

    td,
    th {
      padding: 2vh 8px;
    }

    thead {
      background-color: #e88513;
      border: 1px solid #e88513;
      color: white;
      tr {
        height: 50px;
        text-align: left;
        font-size: 1vw;
      }
    }

    &_body {
      border: 1px solid #cfb9a0;
      &_icon {
        &:hover {
          color: #4e4b4b;
        }
        font-size: 1.5vw;
        cursor: pointer;
        padding-right: 20px;
      }
      td {
        text-align: left;
        height: 48px;
        font-weight: 600;
        font-size: 1vw;
        border-bottom: 1px solid #cfb9a0;
      }
      &_empty {
        text-align: center !important;
      }
      &_guru {
        &_button {
          margin-top: 0 !important;
          padding: 9px !important;
        }
      }
    }
  }
  &_tableMobile {
    display: none;
    width: 100%;
    padding: 5px 10px;
    &_container {
      background-color: #e88513;
      color: white;
      border-radius: 10px;
      margin: 15px 0;
      hr {
        border: 1px solid #b86507;
      }
      &_title {
        padding: 10px 10px 5px 10px;
        h3 {
          font-size: 24px;
        }
        h1 {
          font-size: 29px;
          margin-top: -3px;
        }
      }
      &_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        h2 {
          font-size: 22px;
        }
        &_seeMore {
          margin-top: 0 !important;
          padding: 9px !important;
          background-color: orangered !important;
        }
      }
      &_btnSect {
        display: flex;
        padding: 5px;
        gap: 10px;
        &_item {
          margin: 0 !important;
          flex: 1;
          background-color: rgb(255, 166, 0) !important;
          &:first-child {
            background-color: rgb(19, 133, 76) !important;
          }
          &:last-child {
            background-color: rgb(255, 0, 0) !important;
          }
          &_icon {
            display: none;
            font-size: 20px;
          }
        }
      }
    }
    &_empty {
      text-align: center;
      margin-top: 10px;
    }
  }
  &_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;

    span {
      font-size: 15px;
      padding: 15px;
    }
    &_prev,
    &_next {
      margin-top: 0 !important;
      font-size: 15px !important;
      background-color: #e88513 !important;
    }
  }
}

@media (max-width: 1022px) {
  .listguru {
    &_search {
      &_input {
        margin: 10px 10px;
        font-size: 13px;
      }
    }
    &_table {
      width: 98%;
      margin: 0 10px;

      thead {
        tr {
          font-size: 13px;
        }
      }
      &_body {
        &_icon {
          font-size: 15px;
        }
        td {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 732px) {
  .listguru {
    &_table {
      width: 97%;
      thead {
        tr {
          &_tabletDelete {
            display: none;
          }
        }
      }

      &_body {
        &_tabletDelete {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .listguru {
    &_table {
      width: 96%;
      thead {
        tr {
          &_mobileDelete {
            display: none;
          }
        }
      }

      &_body {
        &_mobileDelete {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .listguru {
    &_search {
      &_input {
        margin: 10px 10px -10px 10px;
      }
    }
    &_table {
      display: none;
    }
    &_tableMobile {
      display: block;
    }
  }
}

@media (max-width: 340px) {
  .listguru {
    &_tableMobile {
      &_container {
        &_btnSect {
          gap: 50px;
          &_item {
            padding: 5px 10px !important;
            &_icon {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .listguru {
    &_pagination {
      flex-direction: column;
      margin-top: 0px;
    }
  }
}
