.berandaguru {
  margin: 17vh 25vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: sticky;
  gap: 8vw;
  &_content {
    display: flex;
    flex-direction: column;
    &_image {
      border: 4px solid #e88513;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
    &_button {
      background-color: #e88513 !important;
      font-size: 14px !important;
      margin-top: 20px !important;
      cursor: pointer;
    }
  }
  &_kosong {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
