.sidebar {
  //   background-color: black;
  overflow-y: auto;
  height: 100dvh;
  position: fixed;
  width: 18vw;
  border-right: 3px solid #d0cbcb;
  overflow-x: hidden;
  &_logo {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &_image {
      width: 16vw;
      height: 8.5vh;
    }
  }
  &_list {
    display: flex;
    flex-direction: column;
    &_section {
      margin: 5px 25px;
      h3 {
        color: #868282;
        font-size: 0.9vw;
      }
      &_list {
        list-style: none;
        width: 15vw;
        &_add {
          gap: 0.9vw !important;
          margin: 2vh 1.2vw !important;
        }
        &_all {
          gap: 1.6vw !important;
          margin: 0.1vh 1.2vw !important;
        }
        &_dropdown {
          cursor: pointer;
          &_active {
            &::before {
              background-color: #fff !important;
              width: 10px !important;
              height: 10px !important;
            }
          }
          &_list {
            width: 13.9vw;
            li {
              display: flex;
              align-items: center;
              gap: 8px;
              &::before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: #e88513;
                border-radius: 50%;
              }
            }
            margin-left: 1.5vw;
          }
          &_toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &_icon {
            font-size: 14px !important;
          }
        }
        &_plus {
          gap: 1.5vw !important;
        }
        &_active {
          box-sizing: border-box;
          padding: 1.7vh 0 1.7vh 1.3vw;
          border-radius: 10px;
          color: white;
          display: flex;
          align-items: center;
          font-weight: 600;
          margin: 10px 10px 10px 0 !important;
          background-color: #e88513;
          svg {
            font-size: 1.5vw;
          }
          a {
            width: 100%;
          }
        }
        li {
          margin: 2vh 1.2vw;
          display: flex;
          align-items: center;
          gap: 1.5vw;
          font-size: 1.2vw;
          svg {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
