.addmapel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9vw;
  align-items: center;

  &_main {
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 15px;
    width: 60%;
    &_header {
      font-size: 1.5vw;
      text-align: center;
      padding: 15px;
    }
    &_content {
      &_form {
        &_input {
          margin: 1vw;
          font-size: 1.3vw;
          input {
            font-size: 1vw;
          }
        }
        &_item {
          display: flex;
          flex-direction: column;
          width: 96%;
          margin: 1vw;

          label {
            margin-bottom: 10px;
            font-size: 1.3vw;
          }
          select,
          textarea {
            padding: 10px;
            background-color: #eee;
            border-radius: 8px;
            font-size: 1vw;
            border: 0;
            outline: 0;
            resize: none;
          }
          &_image {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;
            &__preview,
            &__placeholder {
              margin-top: 10px;
              background-color: #eee;
              width: 15%;
              aspect-ratio: 1/1;
              display: flex;
              align-items: center;
              justify-content: center;
              height: auto;
              border-radius: 5px;
            }
          }
          &_datalist {
            padding: 10px;
            border: 0;
            outline: 0;
            border-radius: 8px;
            font-size: 1vw;
            background-color: #eee;
          }
        }
        &_group {
          display: flex;
          flex-direction: row;
          &_item {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 1vw;
            label {
              font-size: 1.3vw;
              margin-bottom: 10px;
            }
            select,
            textarea {
              padding: 10px;
              background-color: #eee;
              border-radius: 8px;
              resize: none;
              font-size: 1vw;
              border: 0;
              outline: 0;
            }
          }
        }
        &_button {
          width: 100%;
          padding: 5px 10px;
          button {
            font-size: 1vw;
            width: 100%;
            background-color: #e88513;
          }
        }
      }
    }
  }
}
