.modal {
  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_image {
      border-radius: 50%;
      border: 5px solid #e88513;
    }
    h1 {
      padding-bottom: 15px;
      width: 100%;
      margin: 10px 0;
      font-size: 24px;
      text-align: center;
      border-bottom: 1px solid black;
    }
  }
  &_content {
    &_item {
      &_header {
        margin: 10px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        &_kelas {
          margin: 10px 0;
          display: flex;
          gap: 5px;
          align-items: center;
          &_icon {
            font-size: 20px !important ;
          }
        }
        &_hp {
          margin: 10px 0;
          display: flex;
          gap: 10px;
          align-items: center;
          &_icon {
            font-size: 20px !important;
          }
        }
        &_icon {
          font-size: 24px;
        }
      }
      p {
        background-color: #eee;
        padding: 8px;
        border-radius: 10px;
      }
    }
  }
}
