.guruModal {
  &_list {
    &_item {
      background-color: #e88513;
      padding: 10px;
      color: white;
      border-radius: 10px;
      font-weight: 600;
      margin: 10px 0;
      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        background-color: white;
        border-radius: 50%;
      }
    }
  }
}
