.modal {
  // overflow-x: hidden !important;
  h1 {
    margin-bottom: 20px;
  }
  &_form {
    text-align: left;
    position: inherit;
    &_input {
      margin-bottom: 10px;
    }
    &_group {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      gap: 10px;
      justify-content: center;
      &_item {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
          margin-bottom: 10px;
        }
        select,
        input,
        textarea,
        datalist {
          padding: 10px;
          background-color: #eee;
          border-radius: 8px;
          resize: none;
          width: 100%;
          outline: none;
          border: none;
        }

        &_image {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;
          &__preview,
          &__placeholder {
            margin-top: 10px;
            background-color: #eee;
            width: 13%;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            border-radius: 5px;
          }
        }
      }
      &_dataGuru {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 10px;
        width: 100%;
        label {
          margin-bottom: 10px;
        }
        input,
        datalist {
          padding: 10px !important;
          background-color: #eee;
          border-radius: 8px;
          flex: 1.4;
          outline: none;
          border: none;
        }
        &_dataClsBtn {
          margin-top: 0 !important;
          padding: 11px 5px !important;
          flex: 0.1;
        }
      }
    }
    button {
      background-color: #e88513;
    }
  }
}
